<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
      <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css"/>-->
	<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css"/>
    
	<link rel="stylesheet" href="/stylesheets/xeditable.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
	<title><%= title %></title>
	<script src="/libs/angular/angular.min.js"></script>
	<script src="/libs/angular/angular-ui-router.min.js"></script>
	<script src="/libs/angular/angular-animate.js"></script>
      
	<script src="/libs/ui-bootstrap-tpls-1.3.2.min.js"></script>
    
	<script src="/javascripts/xeditable.min.js"></script>
	<script src="/javascripts/angularApp.js"></script>
      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>-->
       
  </head>
  <body ng-app="angularApp">
	    
	<div class="container">
	<div class="jumbotron text-center">
		<h1>ToDo App</h1> 
	</div>
	  
    <ui-view></ui-view>
	
	  
    <%- include('console.ejs') %>
	 <%- include('nav.ejs') %>
    
	  </div>
	  <script type="text/ng-template" id="/home.html">
        <center><h3>Hello, Please Login or Register</h3></center>
          <br>
        <div class="text-center">
          <a href="/#/login"><button type="button" class="btn btn-primary btn-lg">Log In</button></a>
            <br><br>
          <a href="/#/register"><button type="button" class="btn btn-primary btn-lg">Register</button></a>
        </div>
    </script>
    
<script type="text/ng-template" id="/register.html">
  <div class="settings-forms">
  <!--<div class="page-header">
    <h2>Welcome!</h2>
  </div>-->

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="register()"
    style="margin-top:30px;">
    <h2>Register</h2>

    <div class="form-group">
      <input type="text"
      class="form-control input-lg"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control input-lg"
      placeholder="First Name"
      ng-model="user.fname"></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control input-lg"
      placeholder="Last Name"
      ng-model="user.lname"></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control input-lg"
      placeholder="Email"
      ng-model="user.email"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control input-lg"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control input-lg"
      placeholder="Confirm Password"
      ng-model="user.password2"></input>
</div>
    <center><button type="submit" class="btn btn-primary btn-lg" href="/#/main">Register</button></center>
    </div>
  </form>
</script>
    
<script type="text/ng-template" id="/login.html">
  <div class="settings-forms">
  <!--<div class="page-header">
    <h2>Welcome Back!</h2>
  </div> -->

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>
  <div ng-show="success" class="alert alert-success row">
    <span>{{ success.message }}</span>
  </div>
      
  <div class="login-form ">
  <form ng-submit="logIn()"
    style="margin-top:30px;">
    <h2 ng-hide="forgotForm">Login</h2>
    <h3 ng-show="forgotForm">Reset Password</h3>
    <div ng-hide="forgotForm" class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
      <input type="text"
      class="form-control input-lg"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    </div>
    <div ng-hide="forgotForm" class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>  
          <input type="password"
          class="form-control input-lg"
          placeholder="Password"
          ng-model="user.password"></input>
        </div>
      </div>
      
      <div class="text-center">
        <button type="submit" ng-hide="forgotForm" class="btn btn-primary btn-lg">Login</button>
      </div>
    </div>
  </form>
</div>

<div ng-show="forgotForm" class="form-group">
        </form>
            <div ng-show="forgotForm">
             <p>Please check your email to reset your password:</p>
             <form ng-submit="forgot()"
               style="margin-top:10px;">
                <div class="form-group">
                <input type="email"
                class="form-control"
                placeholder="Email"
                ng-model="user.email"></input>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form></div>
        </div>
<div class="pull-right">
<a href="" ng-click="forgotForm=!forgotForm"><p ng-hide="forgotForm">Forgot Password?</p><p ng-show="forgotForm">Log In</p></a>
</div>
</script>

<!--<script type="text/ng-template" id="/forgot.html">
  <div class="settings-forms">
  <div class="page-header">
    <h1>Welcome Back!</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="forgot()"
    style="margin-top:30px;">
    <h3>Reset Password</h3>

    <div class="form-group">
      <input type="email"
      class="form-control"
      placeholder="User Email" ng-model="user.email"></input>
    </div>
    <button type="submit" class="btn btn-primary">Send Recovery Email</button>
    </div>
    <center><a href="/#/forgot" type="button">Forgot Password?</a></center>
  </form>
</script>-->

  </body>
</html>
